.card-text{
    position: absolute;
    top: 100;
    left: 30%;
    opacity: 0;
}

.card:hover img{
    transition: .5s ease;
    opacity: 0.5;
}


.card:hover h2{
    transition: .3s ease;
    opacity: 1;
    cursor: pointer;
}

.like-btn {
    color: red; 
    /* background-color: seashell; */
    display: inline-block;
    height: 50px;
    margin: 0 0px;
    position: relative;
    top: 0;
    /* transform: rotate(-45deg); */
    position:absolute;
    left: 0%; top: 0%;
     width: 50px;
  }

