.Main{
    height: 93vh;
    /* background: url("./public/pexels-polina-kovaleva-8100517.jpg"); */
    /* background-image:linear-gradient(90deg, rgb(56, 40, 233) 0%, rgb(122, 194, 128) 42%, rgb(255, 136, 0) 96%); */
    background: rgb(255, 145, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff !important;
}

/* background: linear-gradient(90deg, rgba(225,224,237,1) 0%, rgba(122,194,191,1) 42%, rgba(0,212,255,1) 96%); */

