.row{
    margin-top: 40px !important;
}

img{
    height: 200px !important;
}

img:hover{
   cursor: pointer;
}

button{
    color: black !important;
}

.loading{
    padding-top: 100px;
}

.recipe-login{
    padding-top: 100px;
}

.backbutton{
    padding-top: 30px;
    padding-bottom: 50px;;
}

.recipes{
    background-image: url("https://images.unsplash.com/reserve/EnF7DhHROS8OMEp2pCkx_Dufer%20food%20overhead%20hig%20res.jpg?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1057&q=80");
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: auto; 
    gap: 20px;
}

.recipes > * {
    width: 60%;
    
}

.recipes{
    background-image: url("https://images.unsplash.com/reserve/EnF7DhHROS8OMEp2pCkx_Dufer%20food%20overhead%20hig%20res.jpg?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1057&q=80");

}




